#closePage {
    width:35px;
    height:35px;
}
#row1 {
    top:20px;
}
#row2 {
    top:40px;
}
#row3 {
    top:60px;
    left:-10px;
    margin-left:5px;
    margin-right:5px;
}
#row4 {
    top:80px;
    left:-10px;
    margin-left:5px;
    margin-right:5px;
}
#row5 {
    top:100px;
    left:-10px;
    margin-left:5px;
    margin-right:5px;
}
#row6{
    top:120px;
    left:-10px;
    margin-left:5px;
    margin-right:5px;
}
#row7{
    top:140px;
    left:-10px;
    margin-left:5px;
    margin-right:5px;
}
#row8{
    top:160px;
    left:-10px;
    margin-left:5px;
    margin-right:5px;
}
#row9 {
    top:180px;
    left:-10px;
    margin-left:5px;
    margin-right:5px;
}
#row10 {
    position:relative;
    top:200px;
    margin-left:20px;
    margin-right:20px;
}
#row11 {
    position:relative;
    top:220px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}