<ion-header [translucent] = "true">
  <ion-toolbar class="header">
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tasks</ion-title>
    <ion-buttons slot="end">
      <ion-button  slot="icon-only" (click)="goListSetup()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
        <ion-segment-button value="deposit" checked>
          <ion-label>LIST</ion-label>
        </ion-segment-button>
        <ion-segment-button value="loan">
          <ion-label>MAP</ion-label>
        </ion-segment-button>
      </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'deposit'">
      <ion-item *ngFor="let item of [].constructor(20); let i = index">
        <ion-thumbnail slot="start">
          <img src="https://avatars.io/instagram/unknown">
        </ion-thumbnail>
        <h6>Deposit - {{ i }}</h6>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'loan'">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://avatars.io/instagram/unknown">
        </ion-thumbnail>
        <h6>Loan 2</h6>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-toolbar slot="fixed" vertical="bottom" expand="block" class="footer">
  <ion-label>LAT: {{ lat }} </ion-label>
  <br/>
  <ion-label>LONG: {{ lng }} </ion-label>
</ion-toolbar>

<ion-button slot="fixed" vertical="bottom" horizontal="end" class="add">
  <ion-icon name="add-outline" slot="start"></ion-icon> Add Task
</ion-button>


