
ion-toolbar.header {
    height: 56px;
}

ion-title {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
}

ion-segment-button {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
}

ion-icon {
    font-size: 20px;
}

ion-button.add {
    width: 168px;
    height: 56px;
    position: absolute;
    left: 184px;
    bottom: 40px;
    --border-radius: 28px;
    background-size: 200px;
    z-index: 10;
}

ion-toolbar.footer {
    --background: rgba(61, 130, 255, 0.1);
    opacity: 0.6;

/* ionic/ button/ small */

font-family: "Nunito Sans";
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
letter-spacing: 2px;
text-transform: uppercase;

/* ionic/ black */

color: #000000;
}

ion-label {
    margin-left: 8px;
}

ion-card {
    height: 174px;
    width: 332px;
}
ion-card-header {
    height: 8px;
    --background: green;
}
