ion-toolbar.header {
    height: 56px;
}

ion-title {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
}

#createTaskButton {
    border-radius: 50px;
    padding:20;
    width: 150px;
    height: 100px;
}