<ion-header [translucent] = "true">
  <ion-toolbar class="header">
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tasks</ion-title>
    <ion-buttons slot="end">
      <ion-button  slot="icon-only" (click)="goListSetup()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" (click)="goSearch()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="listView">
        <ion-label>List</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mapView" (click)="showMap(); getPositions();">
        <ion-label>Map</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div id="listView" *ngIf="selectTabs == 'listView'">   
      <div *ngFor="let card of cards;let index = index;">

        <ion-card (click)="toViewtask()" id="card">
          <ion-card-header [ngStyle]="{'background-color':card.listInfo.category === 'Asphalt Repair/Pothole' ? '#FFA949' :card.listInfo.category === 'Other Assistance-Roads' ? '#FFA949':card.listInfo.category === 'Sidewalk Grind|Patch' ? '#744545':card.listInfo.category === 'Sidewalk Grind (Only)' ? '#744545': card.listInfo.category === 'Sidewalk AC Patch (Only)' ? '#744545': card.listInfo.category ==='Sidewalks-Other' ? '#744545': card.listInfo.category ==='Sidewalk Inspection' ? '#FFA949': card.listInfo.category ==='Asphalt/Concrete Repair-Marina' ? '#1BBE35': card.listInfo.category ==='Asphalt/Concrete Repair-Park'? '#1BBE35': card.listInfo.category ==='Storm Drain Tops'? '#408595':card }" id="cardHeader">
            <ion-item id="cardItem" style="margin-left:-17px" lines="none">
              <ion-card-subtitle style="margin-right:10px" id="subTitle1">{{card.listInfo.assetID}} </ion-card-subtitle>
              <ion-card-subtitle style="margin-right:10px" id="subTitle1">{{ card.time }}</ion-card-subtitle>
              <ion-card-subtitle id="subTitle1">Priority {{ card.listInfo.priority }}</ion-card-subtitle>
            </ion-item>
            <ion-card-subtitle id="category">{{ card.listInfo.category }}</ion-card-subtitle>
            <ion-card-subtitle id="subTitle2">{{ card.listInfo.address }}</ion-card-subtitle>
            <ion-icon name="chatbox-outline"></ion-icon><p>{{ card.totalComments }}</p>
          </ion-card-header>
        </ion-card>
        </div>
      </div>

    <div *ngIf="selectTabs == 'mapView'">
      <div id="mapid" style="height: 472px"></div>
        <ion-card id="mapcard" *ngIf="showCard|async">
          <ion-card-header [ngStyle]="{'background-color':card.listInfo.category === 'Asphalt Repair/Pothole' ? '#FFA949' :card.listInfo.category === 'Other Assistance-Roads' ? '#FFA949':card.listInfo.category === 'Sidewalk Grind|Patch' ? '#744545':card.listInfo.category === 'Sidewalk Grind (Only)' ? '#744545': card.listInfo.category === 'Sidewalk AC Patch (Only)' ? '#744545': card.listInfo.category ==='Sidewalks-Other' ? '#744545': card.listInfo.category ==='Sidewalk Inspection' ? '#FFA949': card.listInfo.category ==='Asphalt/Concrete Repair-Marina' ? '#1BBE35': card.listInfo.category ==='Asphalt/Concrete Repair-Park'? '#1BBE35': card.listInfo.category ==='Storm Drain Tops'? '#408595':card }" id="cardHeader">
            <ion-item id="cardItem" style="margin-left:-17px" lines="none">
              <ion-card-subtitle style="margin-right:10px" id="subTitle1"> Hi </ion-card-subtitle>
              <ion-card-subtitle style="margin-right:10px" id="subTitle1">Hi</ion-card-subtitle>
              <ion-card-subtitle id="subTitle1">Priority</ion-card-subtitle>
            </ion-item>
            <ion-card-subtitle id="category">Hi</ion-card-subtitle>
            <ion-card-subtitle id="subTitle2">Hi</ion-card-subtitle>
           <span><ion-icon id="subIcon" color="primary" name="chatbox"></ion-icon>
            <h5>Hi</h5></span>
          </ion-card-header>
        </ion-card>
    </div>
    
  </ion-toolbar>
</ion-content>

<ion-button slot="fixed" vertical="bottom" horizontal="end" class="add" (click)="goCreateTask()">
  <ion-icon name="add-outline" slot="start"></ion-icon> Add Task
</ion-button>

<ion-toolbar slot="fixed" vertical="bottom" expand="block" class="footer">
  <ion-label>Lat: {{ latLong[0] }}</ion-label>
  <br/>
  <ion-label>Long: {{ latLong[1] }}</ion-label>
</ion-toolbar>