ion-toolbar.header {
    height: 56px;
}

ion-title {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
}