ion-title{
    text-align: center;
}

body{
    background-image: url(https://map.mobile311.com/Mobile311/Images/App/M311_Logo.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 20px; 
    background-size: 40%;
}

.options{
    margin-top: 300px;
}