<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mobile 311 Help</ion-title>
  </ion-toolbar>
</ion-header>
<body>
  <div class="options">
    <a href="https://www.sanleandro.org/depts/pw/default.asp">
    <ion-button expand="block" fill="solid" color="success" style="margin-top: 80%;"><p>Website</p>
      <ion-icon name="browsers"></ion-icon>
    </ion-button>
  </a>
    <a href="mailto:citycomments@sanleandro.org">
      <ion-button expand="block" fill="solid" color="secondary" style="margin-top: 10px;">
      <p>Email</p><ion-icon name="mail-outline"></ion-icon></ion-button>
    </a>
    <a href="tel:123-456-7890">
    <ion-button expand="block" fill="solid" color="tertiary" style="margin-top: 10px;"><p>Call</p>
      <ion-icon name="call-outline"></ion-icon></ion-button>
    </a>
  </div>
</body>

