ion-toolbar {
    height: 70px;
}

ion-menu-button {
    margin-top: 20px;
}
ion-title {
    margin-top: 20px;
} 

body{
    background-image: url(https://map.mobile311.com/Mobile311/Images/App/M311_Logo.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 80%;
    position: absolute;
    width: 414px;
    height: 644px;
    left: 0;
    top: 100px;
}

ion-button {
    position: relative;
    top: 205px;
    height: 80px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-right:6px;
}
ion-button.website {
    --background: #93B53D;
}

ion-icon{
    position: absolute; 
    right: 0;
    font-size: 50px;
}

p{
    position: absolute; 
    left: 0;
    top: 6px;
    font-size: 25px;
}
