<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="goTask()">
        <ion-icon id="closePage" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="subtitle">Status</p>
  <ion-item lines="none" id="row1">
    <ion-label><ion-button color="secondary">New Request</ion-button></ion-label>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="goRequest()">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <p class="subtitle" id="row2">Work Group</p>
  <ion-item id="row3">
    <ion-label></ion-label>
    <ion-select ok-text="Select" cancel-text="Cancel">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
    </ion-select>
  </ion-item>

  <p class="subtitle" id="row4">Work Type</p>
  <ion-item id="row5">
    <ion-label></ion-label>
    <ion-select ok-text="Select" cancel-text="Cancel" >
      <ion-select-option value="Abandoned Hazardouz Waste">Abandoned Hazardouz Waste</ion-select-option>
      <ion-select-option value="Abandoned Shopping Cart">Abandoned Shopping Cart</ion-select-option>
      <ion-select-option value="Animal Control">Animal Control</ion-select-option>
      <ion-select-option value="Asphalt Repair/Pothole">Asphalt Repair/Pothole</ion-select-option>
      <ion-select-option value="Asphalt/Concrete Repair-Park">Asphalt/Concrete Repair-Park</ion-select-option>
      <ion-select-option value="Asphalt/Concrete Repair-Park">Asphalt/Concrete Repair-Park</ion-select-option>
      <ion-select-option value="City Trees">City Trees</ion-select-option>
      <ion-select-option value="Dead Animal">Dead Animal</ion-select-option>
      <ion-select-option value="Debris at Marina">Debris at Marina</ion-select-option>
      <ion-select-option value="Debris in Public Right-of-Way">"Debris in Public Right-of-Way</ion-select-option>
      <ion-select-option value="Debris in Public Right-of-Way">Debris in Public Right-of-Way</ion-select-option>
      <ion-select-option value="Debris on Private Property">"Debris on Private Property</ion-select-option>
      <ion-select-option value="Fiber Optic">Fiber Optic</ion-select-option>
      <ion-select-option value="Garbage Collection">Garbage Collection</ion-select-option>
      <ion-select-option value="Garbage/Recycling Cart Storage">Garbage/Recycling Cart Storage</ion-select-option>
      <ion-select-option value="Graffiti">Graffiti</ion-select-option>
      <ion-select-option value="Graffiti-Private Property">Graffiti-Private Property</ion-select-option>
      <ion-select-option value="Graffiti-Public Property">Graffiti-Public Property</ion-select-option>
      <ion-select-option value="Grate or Manhole Cover Issue">"Grate or Manhole Cover Issue</ion-select-option>
      <ion-select-option value="Injured Animal">Injured Animal</ion-select-option>
      <ion-select-option value="Junk and Debris">Junk and Debris</ion-select-option>
      <ion-select-option value="Landscape Maintence">Landscape Maintence</ion-select-option>
      <ion-select-option value="Lighted Crosswalks">Lighted Crosswalks</ion-select-option>
      <ion-select-option value="Loose Animal">Loose Animal</ion-select-option>
      <ion-select-option value="Median Landscaping">Median Landscpaing</ion-select-option>
      <ion-select-option value="Other Assistance-Junk & Debris">Other Assistance-Junk & Debris</ion-select-option>
      <ion-select-option value="Other Assistance-Roads">Other Assistance-Roads</ion-select-option>
      <ion-select-option value="Other Electrical Work">Other Electrical Work</ion-select-option>
      <ion-select-option value="Other Tree Maintenance">Other Tree Maintenance</ion-select-option>
      <ion-select-option value="Parking Meters">Parking Meters</ion-select-option>
      <ion-select-option value="Public View Blight Weeds">Public View Blight (Weeds)</ion-select-option>
      <ion-select-option value="Request a New street Sign">Request a New street Sign</ion-select-option>
      <ion-select-option value="Roads">Roads</ion-select-option>
      <ion-select-option value="Shoes Removed">Shoes Removed</ion-select-option>
      <ion-select-option value="Sidewalk AC Patch Only">Sidewalk AC Patch (Only)</ion-select-option>
      <ion-select-option value="Sidewalk Allcrete">Sidewalk Allcrete</ion-select-option>
      <ion-select-option value="Sidewalk Grind Only">Sidewalk Grind (Only)</ion-select-option>
      <ion-select-option value="Sidewalk Grind/Patch">Sidewalk Grind/Patch</ion-select-option>
      <ion-select-option value="Sidewalk Inspection">Sidewalk Inspection</ion-select-option>
      <ion-select-option value="Sidewalks">Sidewalks</ion-select-option>
      <ion-select-option value="Sidewalks-Other">Sidewalks-Other</ion-select-option>
      <ion-select-option value="Speed Feedback Signs internal">Speed Feedback (internal)</ion-select-option>
      <ion-select-option value="Storm Drain Service or Repair">Storm Drain Service or Repair</ion-select-option>
      <ion-select-option value="Storm Drain Tops">Storm Drain Tops</ion-select-option>
      <ion-select-option value="Storm Drain or Sewer">Storm Drain or Sewer</ion-select-option>
      <ion-select-option value="Storm Drain Light Out">Storm Drain Light Out</ion-select-option>
      <ion-select-option value="Street Lights and Signals">Street Lights and Signals</ion-select-option>
      <ion-select-option value="Street Litter Can Issue">Street Litter Can Issue</ion-select-option>
      <ion-select-option value="Street Prep">Street Prep</ion-select-option>
      <ion-select-option value="Street Sign Damaged">Street Sign Damaged</ion-select-option>
      <ion-select-option value="Street Sign Missing">Street Sign Missing</ion-select-option>
      <ion-select-option value="Street Sign">Street Sign</ion-select-option>
      <ion-select-option value="Street Sweeping">Street Sweeping</ion-select-option>
      <ion-select-option value="Street Curb Marking">Street Curb Marking</ion-select-option>
      <ion-select-option value="Traffic Calming">Traffic Calming</ion-select-option>
      <ion-select-option value="Traffic Signal Issue">Traffic Signal Issue</ion-select-option>
      <ion-select-option value="Tree Inventory">Tree Inventory</ion-select-option>
      <ion-select-option value="Tree Maintenance-Park">Tree Maintenance-Park</ion-select-option>
      <ion-select-option value="Tree Planting">Tree Planting</ion-select-option>
      <ion-select-option value="Tree Removal">Tree Removal</ion-select-option>
      <ion-select-option value="Tree Stalking/Straping">Tree Stalking/Straping</ion-select-option>
      <ion-select-option value="Tree/Limb Damaged">Tree/Limb Damaged</ion-select-option>
      <ion-select-option value="USA Markings internal">USA Markings (internal)</ion-select-option>
      <ion-select-option value="Vehicle Violation">Vehicle Violation</ion-select-option>
      <ion-select-option value="Weeds in the Public Right of Way">Weeds in the Public Right of Way</ion-select-option>
    </ion-select>
  </ion-item>

  <p class="subtitle" id="row6">Asset Id</p>
  <ion-item id="row7">
    <ion-input required type="text" id="AssetID"></ion-input>
  </ion-item>

  <p class="subtitle" id="row8">Department</p>
  <ion-item id="row9">
    <ion-label></ion-label>
    <ion-select ok-text="Select" cancel-text="Cancel">
      <ion-select-option value="City Manager's Office">City Manager's Office</ion-select-option>
      <ion-select-option value="Community Development">Community Development</ion-select-option>
      <ion-select-option value="Engineerign & Transportation">Engineerign & Transportation</ion-select-option>
      <ion-select-option value="IT">IT</ion-select-option>
      <ion-select-option value="Police Department">Police Department</ion-select-option>
      <ion-select-option value="Public Works">Public Works</ion-select-option>
      <ion-select-option value="Public Works-ES">Public Works-ES</ion-select-option>
      <ion-select-option value="Public Works-Marina">Public Works-Marina</ion-select-option>
      <ion-select-option value="Public Works WPCP">Public Works WPCP</ion-select-option>
    </ion-select>
  </ion-item>

  <p class="subtitle" id="row10">Location/Address</p>
  <ion-item id="row11">
    <ion-input required type="text" id = "address"> {{ address }} </ion-input>
    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <p class="subtitle" id="row12">Priority</p>
  <ion-item id="row13">
    <ion-label></ion-label>
    <ion-select ok-text="Select" cancel-text="Cancel">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
      <ion-select-option value="9">9</ion-select-option>
    </ion-select>
  </ion-item>

  <p class="subtitle" id="row14">Description</p>
  <ion-item id="row15">
    <ion-input required type="text" id="Description"></ion-input>
  </ion-item>

  <p class="subtitle2" id="row16">Attach photo</p>
  <ion-item lines="none" id="row17">
    <ion-button id="camera" color="secondary" (click)="this.photoService.addNewToGallery()">
      <ion-icon  id="iconLarge" name="camera" slot="start"></ion-icon> Camera
    </ion-button>
    <ion-button id="gallery" color="secondary" (click)="this.photoService.addNewToGallerys()">
      <ion-icon id="iconLarge" name="image" slot="start"></ion-icon> Photo Gallery
    </ion-button>
  </ion-item>

  <ion-item id="row18">
    <ion-label id="subtitle3">Employees</ion-label>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="goEmployees()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item id="row19">
    <ion-label id="subtitle3">Equipment</ion-label>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)='goEquipment()'>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item id="row21">
    <ion-label id="subtitle3">Materials</ion-label>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="goMaterials()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <p class="subtitle2" id="row22">Comment</p>

  <ion-item lines="none" id="row23">
    <ion-button  (click)="goComments()" id="addCommentBtn" color="secondary">ADD COMMENT</ion-button>
  </ion-item>

  <ion-item id="row24">
    <ion-label>Task Form</ion-label>
    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item id="row25">
    <ion-label>Cost Account Report</ion-label>
    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-button id="btnSave" id="row26" expand="block" fill="solid" color="primary">Save</ion-button>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
