p.date {
    margin-left:20px;
}
p.subtitle{
    margin-left:20px;
    /* ionic/ button/ small */
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* ionic / medium */
    color: #7D849F;
}

#row1 {
    top:-15px;
}
#row2 {
    top:-15px;
}
#row3 {
    top:-15px;
}
#row4 {
    top: -15px;
}