<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
    <ion-label id = "by"slot="end">by</ion-label>
    <ion-label slot="end">All</ion-label>
    <ion-buttons slot="end">
      <ion-button  slot="icon-only">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated></ion-searchbar>
</ion-content>
