ion-title {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}
ion-label {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}
#by {
    margin-right:10px;
}