<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="goBack()">
        <ion-icon id="closePage" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Statuses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
        <ion-label><ion-button color="secondary">Input Text</ion-button></ion-label>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="secondary">Input Text</ion-button></ion-label>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="secondary">Input Text</ion-button></ion-label>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="secondary">Input Text</ion-button></ion-label>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="warning">Contact Utility</ion-button></ion-label>
        <ion-checkbox color="Warning" slot="start"></ion-checkbox>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="secondary">Input Text</ion-button></ion-label>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
        <ion-label></ion-label>
      </ion-item>
    </ion-list>
</ion-content>
