<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="goBack()">
        <ion-icon id="closePage" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let post of displayPosts;let index = index;">
    <ion-item>
    <ion-avatar class="userPic">
      <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
    </ion-avatar>
    <h5 class="postName">{{ post.name }}</h5>
    <p class="postBody" style="margin-top:80px;">{{ post.body }}</p>
    </ion-item>
  </div>
  <ion-avatar class="currentUserPic">
    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200">
  </ion-avatar>
  <form (ngSubmit)="logForm()">
  <ion-input type="text" [(ngModel)]="post.body" name="comment" placeholder="Add Comment"></ion-input>
  </form>
</ion-content>
