html{
    position: relative;
    min-height: 100%;
}
ion-input{
    position: static;
    bottom: 15px;
    right: 0px;
    border: 1px solid black;
    width: 75%;
}

.currentUserPic{
    position: static;
    left: 15px;
    bottom: 12px;
    width: 50px;
    height: 50px;
}

.userPic{
    left: 6px;
    width: 60px;
    height: 60px;
    margin-bottom: 80px;
}

.postName{
    left: 20px;
    position: relative;
    margin-bottom: 100px;
}

.postBody{
    position: absolute;
    top: 45px;
    left: 80px;
}

.time{
    position: absolute;
    right: 10px;
    margin-bottom: 100px;
}

.currentUserComment{
    z-index: 999;
}